@model SmartERP.Invoices.InvoicesRowData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
    ViewData["Title"] = " Invoice";
}
else
{
    ViewData["Title"] = " Invoice";
}

<section id="section1">

    <h4 style="text-align:end; padding: 0px 160px 0px 0px;" >


        <button id="sendMailButton"><b><i class="fa fa-send-o text-blue"></i></b>  SendMail</button>
        <button id="downloadButton"><i class="fa fa-file-pdf-o text-red"></i>  DownloadPDF</button>
    </h4>
<section >
        <div id="section">
        <br />
        <br />
        <br />
        <br />
        <br />
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 1px;
            }

            .invoiceTitle {
                border: 1px solid;
            }

            .invoice {
                width: 100% !important;
                padding: 0px !important;
                max-width: 700px;
                margin: auto;
                border: 1px solid #000;
            }

            .header {
                text-align: center;
                padding: 0px;
                text-decoration: underline;
                font-weight: 600;
                font-size: 20px;
            }

            .invoice-details .logo img {
                width: 117px;
                padding: 4px;
                padding-right: 15px;
                padding-left: 10px;
                padding-top: 4px;
            }

            .invoice-details {
                border-left: 1px solid;
                border-right: 1px solid;
                border-bottom: 2px solid;
                border-top: 1px solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .companyName {
                margin-left: -710px;
                font-size: 25px;
                font-weight: 700;
            }

            .companySubtitle {
                margin-left: -710px;
                padding: 0px 0px 0px 0px;
                font-family: cursive;
                font-size: 11px;
                font-style: italic;
                font-weight: 700;
            }

            .companyAddress1 {
                margin-left: -710px;
                line-height: 1;
                font-size: 11px;
                font-weight: 700;
            }

            .companyAddress2 {
                margin-left: -710px;
                line-height: 1.2;
                font-size: 11px;
                font-weight: 700;
            }

            .companyAddress3 {
                margin-left: -710px;
                font-size: 11px;
                line-height: 1;
                font-weight: 700;
            }

            .companyAddress4 {
                margin-left: -710px;
                line-height: 1;
                font-size: 11px;
                font-weight: 700;
            }

            .table-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .table-cell {
                padding-right: 2px;
                border-left: 1px solid;
                border-right: 1px solid;
                padding: 0px 10px;
                font-weight: 700;
            }

            .customerName {
                border-bottom: 1px solid;
                border-top: 2px solid;
                border-left: 1px solid;
                border-right: 1px solid;
                padding: 0px 0px;
                font-weight: 700;
            }


            .invoice {
                width: 90%;
                padding: 10px;
            }


            .GSTIN {
                border: 1px solid;
                display: flex;
                align-items: center;
            }

            .gstNo {
                margin-left: 132px;
            }

            .GstDetail address {
                padding: 2px 8px;
                line-height: 14px;
            }

            .taxTable table {
                border: 0px solid;
                border-collapse: collapse;
                width: 100%;
            }

            .taxTable th,
            td {
                border: 0px solid;
                padding: 0px;
                text-align: center;
            }

            .noHeaderTable table {
                border: 1px solid;
                padding-right: 1px;
                border-collapse: collapse;
                width: 100%;
            }

            .noHeaderTable td {
                border: 0px solid;
                padding: 1px;
                text-align: center;
            }

            .signatureTable table {
                border: 1px solid;
                border-collapse: collapse;
                width: 100%;
            }

            .signatureTable td {
                border: 0px solid;
                padding: 1px;
                text-align: center;
            }
        </style>

        @*  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> *@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    </head>
    <body id="bt">
        <div class="invoice" id="invoice11">
            <div class="header invoiceTitle" padding=" 1px 11px">
                Tax Invoice
            </div>
            <div class="invoice-details">
                <div class="logo">
                    @if (Model.Company != null && !String.IsNullOrEmpty(Model.Company.SaleLogo))
                    {
                        <img src="/upload/@Model.Company.Logo" style="height:100px" />
                    }
                </div>
                <div class="" style="text-align: center;">
                    <div class="companyName" style="text-align: center;">@Model.Company.CompanyName</div>
                    <div class="companySubtitle" style="text-align: center;"><span>*Feel the Difference*</span></div>
                    <div class="companyAddress1" style="text-align: center;">@Model.Company.Address</div>
                    <div class="companyAddress2" style="text-align: center;">MORATTANDI-605101</div>
                    <div class="companyAddress3" style="text-align: center;">24*7 FOR HELP LINE : @Model.Company.Phone APPOINTMENT : @Model.Company.Phone</div>
                    <div class="companyAddress4" style="text-align: center;">
                        @Model.Company.CompanyEmail
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  GSTIN: 33BPBPM1547R1ZK
                    </div>
                </div>
            </div>

<div>
                <table width="100%" border="1" cellspacing="1" cellpadding="0">
                    <tr style="text-align:left">
                        <td style="text-align:inherit;">
                            <!-- Table for two columns -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr style="text-align:left;border-right:0px solid;border-top:0px solid;border-bottom:0px solid;border-left:0px solid">
                                    <td width="50%" style="text-align:left;border-right:2px solid;border-left:0px solid">
                                        Invoice No&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Order.Id
                                    </td>
                                    <td width="50%" style="text-align:left;border-right:0px solid;border-left:0px solid">
                                        Invoice
                                        Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Order.Date

                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid;border-left:0px solid">
                                        Vehicle No&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Vehicle.VehicleRegistration
                                    </td>
                                    <td width="50%" style="text-align:left;border-right:0px solid;border-left:0px solid">
                                        Service Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Order.ServiceType
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid;border-left:0px solid">
                                        Mileage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Vehicle.Mileage
                                    </td>
                                    <td width="50%" style="text-align:left;border-right:0px solid;border-left:0px solid">
                                        Mobile
                                        No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Customer.Phone
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid;border-left:0px solid">
                                        Model&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Vehicle.Model

                                    </td>
                                    <td width="50%" style="text-align:left;border-right:0px solid;border-left:0px solid">
                                        Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Customer.RegionId
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid;border-left:0px solid">
                                        Chassis No :  @Model.Vehicle.ChassisNo
                                    </td>
                                    <td width="50%" style="border-right:0px solid;border-left:0px solid">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
</div>
            <div class="customerName">
                Customer Name : @Model.Customer.Name
            </div>
<div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <!-- Table for two columns -->
                            <table width="100%" border="1" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="50%" style="text-align:left;">
                    <address style="margin-bottom: 0px;">
                        <b>DETAIL OF RECIVER (BLLED TO):</b><br>
                        @Model.Order.InsuranceCoName<br>
                        @Model.Order.InsuranceCoAdd,<br>
                        @Model.Order.InsuranceCoCit
                    </address> 
                                    </td>
                                        <td width="50%" style="text-align:left;">
                                            <b>GSTIN</b>:@Model.Order.GstIN
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                 </table>

</div>

            <div class="taxTable">
                <table>
                    <tr style="border-bottom:2px solid; border-top:1px solid;">
                        <th style="width: 55px;border-right:2px solid; border-left:1px solid;">S.No</th>
                        <th style="width: 220px;border-right:2px solid;">DESCRIPTION</th>
                        <th style="width: 70px;border-right:2px solid;">HSN</th>
                        <th style="width: 50px;border-right:2px solid;">QTY</th>
                        <th style="width: 50px;border-right:2px solid;">RATE</th>
                        <th style="width: 50px;border-right:2px solid;">GST(%)</th>
                        <th style="width: 70px;border-right:2px solid;">TAX</th>
                        <th style="width: 123px;border-right:1px solid;">TAXABLE AMOUNT</th>
                    </tr>
                    @{
                        int cout = 1;
                    }
                    @{
                        Double net = 0;
                    }
                    @{
                        Double TAX = 0;
                    }

                    @foreach (var d in Model.Details)
                    {
                        <tr style="border-top:0px solid;border-left:1px solid;border-right:1px solid;border-bottom:0px solid;">
                            <td style="border-right:2px solid;">@cout</td>
                            <td style="text-align: left;border-right:2px solid;">@d.ProductProductName</td>
                            <td style="border-right:2px solid;">@(d.HSN)</td>
                            <td style="border-right:2px solid;">@(d.Quantity.ToStringDefault())</td>
                            <td style="border-right:2px solid;">@(d.UnitPrice.ToStringDefault("#,##0.00"))</td>
                            <td style="border-right:2px solid;">@(d.Gst.ToStringDefault("#,##0.00"))</td>
                            <td style="border-right:2px solid;">@(d.TotalTax.ToStringDefault("#,##0.00"))</td>
                            <td>@(d.SubTotal.ToStringDefault("#,##0.00"))</td>
                        </tr>
                        cout++;
                    }
                    @*<tr>
                    <td>2</td>
                    <td style="text-align: left;">BUMBER BROCKET</td>
                    <td>8302</td>
                    <td>1</td>
                    <td>344.40</td>
                    <td>18%</td>
                    <td>75.60</td>
                    <td>344.40</td>
                    </tr>*@
                    @*  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>*@
                    @foreach (var p in Model.Details)
                    {
                        TAX += @p.TotalTax.Value;

                    }
                    @foreach (var q in Model.Details)
                    {
                        net += @q.SubTotal.Value;

                    }
                    <tr style="border-top:2px solid;border-left:1px solid;border-right:1px solid;border-bottom:0px solid;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="border-right:2px solid;"></td>
                        <td style="border-right:2px solid;">@TAX</td>
                        <td style=""><b>@net</b></td>
                    </tr>
                </table>
            </div>
            <div class="taxTable">
                <table>
                    <tr style="border-top:2px solid;border-left:1px solid;border-right:1px solid;border-bottom:2px solid;">
                        <th style="width: 55px;border-right:2px solid;">S.No</th>
                        <th style="width: 340px;border-right:2px solid;">LABOUR DETAILS</th>
                        <th style="width: 50px;border-right:2px solid;">RATE</th>
                        <th style="width: 50px;border-right:2px solid;">GST(%)</th>
                        <th style="width: 70px;border-right:2px solid;">TAX</th>
                        <th style="width: 123px;">TAXABLE AMOUNT</th>
                    </tr>
                    @{
                        int cout1 = 1;
                    }
                    @{
                        Double net1 = 0;
                    }
                    @{
                        Double TAX1 = 0;
                    }
                    @foreach (var j in Model.Jobs)
                    {
                        <tr style="border-top:0px solid;border-left:1px solid;border-right:1px solid;border-bottom:0px solid;">
                            <td style="border-right:2px solid;">@cout1</td>
                            <td style="text-align: left;border-right:2px solid;">@j.JobTypeName</td>
                            <td style="border-right:2px solid;">@(j.UnitPrice.ToStringDefault("#,##0.00"))</td>
                            <td style="border-right:2px solid;">@(j.Gst.ToStringDefault("#,##0.00"))</td>
                            <td style="border-right:2px solid;">@(j.TotalTax.ToStringDefault("#,##0.00"))</td>
                            <td style="border-right:1px solid;">@(j.SubTotal.ToStringDefault("#,##0.00"))</td>
                        </tr>
                        cout1++;
                    }
                    @*<tr>
                    <td>2</td>
                    <td style="text-align: left;">PAINTING WORK</td>
                    <td>4200.00</td>
                    <td>18%</td>
                    <td>756.00</td>
                    <td>4956.00</td>
                    </tr>
                    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>*@
                    @foreach (var r in Model.Jobs)
                    {
                        TAX1 += @r.TotalTax.Value;

                    }
                    @foreach (var s in Model.Jobs)
                    {
                        net1 += @s.SubTotal.Value;

                    }
                    <tr style="border-top:2px solid;border-left:1px solid;border-right:1px solid;border-bottom:1px solid;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="border-right:2px solid;"></td>
                        <td style="border-right:2px solid;">@TAX1</td>
                        <td style=""><b>@net1</b></td>
                    </tr>
                </table>
            </div>
                @{
                    Double a = 0;
                    Double b = 0;
                    Double c = 0;
                    Double rr = 0;
                    Double e = 0;
                    Double f = 0;
                    Double ee = 0;
                    Double ff = 0;
                    Double countt = 0;
                    Double countt1 = 0;

                }

                @foreach (var v in Model.Details)
                {
                    countt= countt + 1;
                    a = v.Gst.Value;
                    a = a / countt;
                }
                @{
                    a = a / 2;
                    b = a;
                } @foreach (var v in Model.Jobs)
                {
                    countt1= countt1 + 1;
                    c = v.Gst.Value;
                    c = c / countt1;
                }
                @{
                    c = c / 2;
                    rr = c;
                }
                @{
                    e = TAX/2;
                    f = TAX/2;
                } @{
                    ee = TAX1/2;
                    ff = TAX1/2;
                }

            <div class="noHeaderTable">
                <table>
                    <tr>
                        <td style="width: 395px;text-align: left;  border-right: 2px solid"><b>CGST @a% : @e SGST @b% : @f</b></td>
                        <td style="width: 170px;text-align: left;  border-right: 2px solid"><b>SUB TOTAL :</b></td>
                        <td style="width: 123px;"><b>@Model.Order.NetTotal.Value.ToString("#,##0.00")</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;  border-right: 2px solid"><b>CGST @c% : @ee SGST @rr% : @ff</b></td>
                        <td style="text-align: left; border-right: 2px solid"><b>TOTAL TAX :</b></td>
                        <td><b>@Model.Order.TotalTax.Value.ToString("#,##0.00")</b></td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px solid; border-right: 2px solid"></td>
                        <td style="text-align: left; border-right: 2px solid"><b>ROUND OFF :</b></td>
                        <td><b>@Math.Round(Model.Order.GrandTotal.Value)</b></td>
                    </tr>

@{
                            @using Humanizer;
                            double grandTotal = Math.Round(Model.Order.GrandTotal.Value);
                            int grandTotalInt = (int)grandTotal; 

                            string grandTotalWords = grandTotalInt.ToWords();


}
                    <tr>
                            <td style="text-align: left; border-right: 2px solid; font-size: 13px"><b>Rupees In Words :@grandTotalWords</b></td>
                        <td style="text-align: left; border-right: 2px solid"><b>NET AMOUNT :</b></td>
                        <td><b> @Math.Round(Model.Order.GrandTotal.Value) </b></td>
                    </tr>
                </table>
            </div>


<div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <!-- Table for two columns -->
                            <table width="100%" border="1" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="57.4%" style="text-align:center;border-right:2px solid;border-bottom:2px solid">
                                            <b>Our Bank Details</b>
                                        </td>
                                    <td width="42.6%" style="text-align:left;">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid">
                                        NAME
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:@Model.Company.CompanyName
                                    </td>
                                    <td width="50%" style="text-align:left;">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid">
                                        BANK
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: INDIAN BANK
                                    </td>
                                    <td width="50%" style="text-align:left;">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid">
                                        AC /NO. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 83476849678347l

                                    </td>
                                    <td width="50%" style="text-align:left;">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid">
                                        IFSC
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: KSDFHDS83828KJSDHF
                                    </td>
                                    <td width="50%" style="text-align:left;">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid">
                                        BRANCH &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: PONDICHEERY
                                    </td>
                                    <td width="50%" style="">
                                        <b>@Model.Company.CompanyName</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="text-align:left;border-right:2px solid;border-top:2px solid">
                                        <b>Customer Signature - </b>
                                    </td>
                                    <td width="50%" style="">
                                        Authorised Signatory
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

</div>

    </body>
    <script>

        document.getElementById("downloadButton").addEventListener("click", function () {
            const section = document.getElementById("invoice11"); // Select the section containing your content
            const opt = {
                margin: 10,
                filename: 'invoice.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }

            };

            html2pdf().set(opt).from(section).save();
            alert("PDF Download Successfully")

        });
    </script>
    <script>
        document.getElementById("sendMailButton").addEventListener("click", function () {
            const section = document.getElementById("section");
            var content = section.innerHTML;
            var email = '@Model.Customer.Email';
            const dataToSend = {
                content: content,
                email: email
            };
            $.ajax({
                url: '/Services/Invoices/Invoices/Email',
                type: 'POST',
                data: JSON.stringify(dataToSend),
                contentType: "application/json",
                success: function (response) {
                    if (response.success) {
                            alert('Invoices PDF sent to Mail successfully.');
                    } else {
                        alert('Failed to send PDF to Mail.');
                    }
                },
                error: function () {
                    alert('An error occurred while sending the PDF to the Mail.');
                }
            });
        });
    </script>
        </div>

    </section>

</section>